In [28]:
import numpy as np
import pandas as pd
import sqlite3

In [34]:
connection = sqlite3.connect('data/census.sqlite')
# sql_df = pd.read_sql('data/census.sqlite', con='//sqlite')

In [35]:
df = pd.read_sql_query("""SELECT *
                       FROM census""", connection)

In [36]:
df.head()

      state sex  age  pop2000  pop2008
0  Illinois   M    0    89600    95012
1  Illinois   M    1    88445    91829
2  Illinois   M    2    88729    89547
3  Illinois   M    3    88868    90037
4  Illinois   M    4    91947    91111

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8772 entries, 0 to 8771
Data columns (total 5 columns):
state      8772 non-null object
sex        8772 non-null object
age        8772 non-null int64
pop2000    8772 non-null int64
pop2008    8772 non-null int64
dtypes: int64(3), object(2)
memory usage: 342.7+ KB